#main-container {
    background-color: lightgreen;
    text-align: 5px;
}
#side-cintent {
    display:flex;
    background-color: pink; 
    grid-template-rows:100px 100px 100px 100px;
    gap:5px;
}
#photo-container {
display: grid; 
width:60%;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

